<div class="jumbotron" style="margin-top: 90px">
  <h1>Hello, world!</h1>
  <p>Главная страница очередного блога.</p>
  <p><a href="/articles" class="btn btn-primary btn-lg" role="button">My Blog &raquo;</a></p>
</div>
